<<<<<<< HEAD
body{
    font-family: 'Titillium Web', sans-serif;
}

header{
    margin-top: 75px;
}

#testimonial{
    background: f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

footer{
    background: url(/Img/logo.png);
=======
body{
    font-family: 'Titillium Web', sans-serif;
}

header{
    margin-top: 75px;
}

#testimonial{
    background: f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

footer{
    background: url(/Img/logo.png);
>>>>>>> 31a337616c1288f8b33fbbc56570bb2e7b974b9f
}